body{
	text-align: center;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(https://www.live.org.uk/sites/default/files/styles/lt_event_banner_crop/public/images/paperscissorsstoneimage.jpg?h=161b6971&itok=PhMgQjH3);
    background-size: cover
}

.win{
	color: green;
	text-decoration: underline;
}

#yoyo{
	margin-top: 200px;
}

.le {
    font-size: 1.25rem;
    font-weight: 500;
}
.ooooo{
	border:2px solid black;
}